<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mythology.mapper.BoardMapper">
    <sql id="boardColumns">
        bno
        ,type
        ,ethnic
        ,title
        ,content
        ,writer
        ,viewCnt
        ,recCnt
        ,buyCnt
        ,regDate
        ,updDate
        ,openDate
        ,notice_yn
    </sql>

    <insert id="insertBoard" parameterType="BoardDTO">
        INSERT INTO board (
        <include refid="boardColumns"/>
        ) VALUES (
        #{bno}
        ,#{type}
        ,#{ethnic}
        ,#{title}
        ,#{content}
        ,#{writer}
        ,0
        ,0
        ,0
        ,now()
        ,NULL
        ,#{open}
        ,IFNULL(#{noticeYn}, 'N')
        )
    </insert>

</mapper>