<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/default}">
<th:block layout:fragment="title">
    <title>목록 페이지</title>
</th:block>

<th:block layout:fragment="search">
    <form action="#" id="searchform-header"
          class="searchform js__toggle active pull-right">
        <input type="search" placeholder="Search..." class="input-search">
        <button class="mdi mdi-magnify button-search" type="submit">
            <i class="fa fa-search" aria-hidden="true"></i>
        </button>
    </form>
</th:block>

<th:block layout:fragment="content"></th:block>

</html>